<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bottle List</title>
</head>
<body>
<h1>Bottles</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Volume</th>
    <th>Alcoholic</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="bottle : ${bottles}">
    <td th:text="${bottle.id}"></td>
    <td th:text="${bottle.name}"></td>
    <td th:text="${bottle.volume}"></td>
    <td th:text="${bottle.isAlcoholic ? 'Yes' : 'No'}"></td>
    <td th:text="${bottle.price}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
