<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Shopping Cart</title>
  <meta charset="UTF-8">
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
  <script crossorigin="anonymous" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>

<h1>Your Shopping Cart</h1>
<table>
  <thead>
  <tr>
    <th>Bottle Name</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="item : ${items}">
    <td th:text="${item.position}"></td>
    <td th:text="${item.price}"></td>
    <td th:text="${item.quantity}"></td>
    <td>
      <form th:action="@{/cart/remove/{id}(id=${item.id})}" method="post">
        <button type="submit">Remove</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<p><strong>Total Price:</strong> <span th:text="${totalPrice}"></span></p>
<form th:action="@{/cart/submitOrder}" method="post">
  <button type="submit">Submit Order</button>
</form>
<div th:replace="~{fragments/footer :: footer}">...</div>

</body>
</html>
