<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Username</th>
    <th>Birthdate</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.birthdate}"></td>
    <td>
      <a th:href="@{/users/{id}(id=${user.id})}">Edit</a>
    </td>
  </tr>
  </tbody>
</table>
<a href="/users/new">Add New User</a>
</body>
</html>
